<template>
<section class="groups">
  <div class="table">
    <div class="row" v-for="(cl, index) of groups" :key="index">
      <router-link
        class="link class"
        :to="{ name: 'control-panel.group', query: { classId: cl.id } }"
        v-text="cl.name"
      />
      <router-link
        class="link subjects"
        :to="{ name: 'control-panel.subjects', query: { classId: cl.id } }"
        v-text="'Перейти к предметам'"
      />
    </div>
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AxiosResponse } from 'axios';
import { IGroup } from '@/shared/group';

@Component({ components: {}})
export default class Groups extends Vue {
  private groups: IGroup[] = [];

  private async created() {
    this.$http.get<IGroup[]>('groups/')
      .then(this.onGroupsLoad)
      .catch(console.log);
  }

  private async onGroupsLoad({ data: groups }: AxiosResponse<IGroup[]>) {
    this.groups = groups;
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.groups {
  .table {
    .row {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 1rem;
    }
  }
  .class {
    justify-self: left;
  }
  .students, .subjects {
    justify-self: center;
  }
  .link {
    text-decoration: underline;
    text-decoration-style: dashed;
    font-style: italic;
    color: inherit;
    transition: all $animationMiddleTime $animationFunction;
    display: block;
    text-align: left;
    padding: 0.4rem;
    &:hover {
      color: white;
      background-color: $pink;
      transition: all $animationShortTime $animationFunction;
    }
  }
}
</style>
