<template>
<section class="group">
  <h2 class="group-title">Класс "{{ groupName }}", {{ students.length }} учеников</h2>

  <table class="students-table">
    <thead>
      <th>Имя</th>
      <th>Средняя успеваемость</th>
    </thead>
    <tbody>
      <tr v-for="(student, index) in students"
        :key="index">
        <td><router-link :to="{ name: 'control-panel.student', query: { studentId: student.id } }" v-text="student.name"/></td>
        <td>{{ student.averageElo.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IGroup } from '@/shared/group';
import { AxiosResponse } from 'axios';

interface IStudent {
  id: number;
  group: number;
  user: number;
  average_elo: string;
}

interface IUser {
  username: string;
}

interface IStudents {
  id: number;
  name: string;
  averageElo: number;
}

@Component({ components: {}})
export default class Group extends Vue {
  private groupName = '';

  private students: IStudents[] = [];

  private async created() {
    const classId = Number(this.$route.query.classId);

    this.getStudents(classId);
    this.getGroup(classId);
  }

  private async getGroup(groupId: number) {
    this.$http.get<IGroup>(`groups/${groupId}`)
      .then(this.onGroupsLoad)
      .catch(console.log);
  }

  private async onGroupsLoad({ data: group }: AxiosResponse<IGroup>) {
    this.groupName = group.name;
  }

  private async getStudents(groupIg: number) {
    this.$http.get('students/', { params: { group: groupIg } })
      .then(this.onStudentsLoad)
      .catch(console.log);
  }

  private async onStudentsLoad({ data: students }: AxiosResponse<IStudent[]>) {
    for (const student of students) {
      this.$http.get(`users/${student.user}/`)
      .then((response) => this.onUserLoad(student, response))
    }
  }

  private async onUserLoad(
    student: IStudent,
    { data: user }: AxiosResponse<IUser>
  ) {
    this.students.push({
      id: student.id,
      name: user.username,
      averageElo: Number(student.average_elo),
    })
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.group-title {
  text-align: left;
  margin-left: 20px;
}

.students-table {
  border-collapse: collapse;

  td, th {
    border: 1px solid $borderColor;
    padding: 4px;
  }

  a {
    text-decoration-style: dashed;
    color: $borderColor;

    &:hover {
      text-decoration-style: solid;
    }
  }
}

</style>
