<template>
<section class="hello">
  Это центр управления и бла-бла-бла<br/>
  Тут можно вывести плюшки, подсказки, тд.
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class Hello extends Vue {

}
</script>

<style lang="scss" scoped>
</style>
