<template>
  <section class="student">
    <h1>Васильков Павел</h1>
    <h2>Успеваемость по предметам</h2>

    <highcharts
      class="chart"
      v-for="(chart, index) of charts"
      :key="index"
      :options="chart.chartOptions"
      :updateArgs="chart.updateArgs"
    />
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ISubject } from '@/shared/subject';
import { parseISO, format } from "date-fns";
import { AxiosResponse } from "axios";

interface IStudentTopic {
  id: number;
  student: number;
  topic: number;
  elo: number;
  date_time: string;
}

interface ITopic {
  id: number;
  name: string;
  subjet: number;
}

@Component({ components: {} })
export default class Student extends Vue {
  private charts: any = [];

  private async created() {
    this.$http.get<ISubject[]>("subjects/").then(({ data: subjects }) => {
      console.log(subjects);

      for (const subject of subjects) {
        const chart: any = {
          updateArgs: [true, true, { duration: 100 }],
          chartOptions: {
            yAxis: [
              {
                title: {
                  text: "Эло"
                }
              }
            ],
            xAxis: [
              {
                title: {
                  text: "Время"
                },
                type: "datetime"
              }
            ],
            chart: {
              type: "spline"
            },
            title: {
              text: subject.name
            },
            series: [],
            plotOptions: {
              spline: {
                lineWidth: 4,
                states: {
                  hover: {
                    lineWidth: 5
                  }
                },
                marker: {
                  enabled: false
                },
                pointInterval: 24 * 3600 * 1000, // one day
                pointStart: Date.UTC(2019, 1, 13, 0, 0, 0)
              }
            }
          }
        };

        this.charts.push(chart);

        this.$http
          .get<ITopic[]>("topics/", {
            params: { subject: subject.id }
          })
          .then(({ data: topics }) => {
            for (const topic of topics) {
              this.$http
                .get<IStudentTopic[]>("students-topics/", {
                  params: {
                    student: this.$route.query.studentId,
                    topic: topic.id,
                  }
                })
                .then(({ data: studentTopics }) => {
                  const res: any = { name: topic.name, data: [] };
                  for (const studentTopic of studentTopics) {
                    // const a = format(parseISO(studentTopic.date_time), 'T') / 100000000;
                    // res.data.push(a);
                    res.data.push(studentTopic.elo);
                  }
                  res.data = res.data.reverse();
									console.log(res.data);

                  chart.chartOptions.series.push(res);
                });
            }
          });
      }
    });
  }
}
</script>

<style lang="scss" scoped>
.performance-graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .performance-graph-block {
    min-height: 400px;
  }
}
</style>
