<template>
<section class="subjects">
  <div class="table">
    <div class="row" v-for="(sb, index) of subjects" :key="index">
      <router-link
        class="link class"
        :to="{ name: 'control-panel.subject', query: { subjectId: sb.id } }"
        v-text="sb.name"
      />
      <router-link
        class="link subjects"
        :to="{ name: 'control-panel.topics', query: { subjectId: sb.id } }"
        v-text="'Перейти к предметам'"
      />
    </div>
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { ISubject } from '@/shared/subject';
import { AxiosResponse } from 'axios';

@Component({ components: {}})
export default class Subjects extends Vue {
  private subjects: ISubject[] = [];

  private async created() {
    this.$http.get<ISubject[]>('subjects/')
      .then(this.onSubjectsLoad)
      .catch(console.log);
  }

  private async onSubjectsLoad({ data: subjects}: AxiosResponse<ISubject[]>) {
    this.subjects = subjects;
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.subjects {
  .table {
    .row {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 1rem;
    }
  }
  .class {
    justify-self: left;
  }
  .students, .subjects {
    justify-self: center;
  }
  .link {
    text-decoration: underline;
    text-decoration-style: dashed;
    font-style: italic;
    color: inherit;
    transition: all $animationMiddleTime $animationFunction;
    display: block;
    text-align: left;
    padding: 0.4rem;
    &:hover {
      color: white;
      background-color: $pink;
      transition: all $animationShortTime $animationFunction;
    }
  }
}
</style>
