<template>
<section class="input">
  <input
    type="text"
    class="input-box"
    @keyup.enter="answerInput"
  />
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Test } from '@/shared/test';

@Component({ components: {}})
export default class Input extends Vue {
  @Prop({ required: true })
  private currentTest!: Test;

  private async answerInput(ev: KeyboardEvent) {
    // console.log((ev.srcElement as HTMLInputElement).value);

    // ответ верный?
    this.currentTest.result = true;

    // @ts-ignore
    this.$parent.nextQuestion(this.currentTest);
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.input {
  .input-box {
    border: 1px dashed $borderColor;
    border-radius: 7px;
    text-align: center;
    font-size: 2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
</style>
