<template>
<section class="select">
  <div
    class="answer"
    v-for="answer of currentTest.answers"
    :key="answer.id"
    :data-answer-index="answer.id"
    v-text="answer.answer"
    @click="answerSelect"
  />
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Test } from '../../shared/test';

@Component({ components: {}})
export default class Select extends Vue {
  @Prop({ required: true })
  private currentTest!: Test;

  private async answerSelect(ev: MouseEvent) {
    const target = ev.target as HTMLDivElement;
    const attr = target.attributes.getNamedItem('data-answer-index') as Attr;

    this.$http.post(`questions/${this.currentTest.id}/submit_answer/`,
      JSON.stringify({ answer: attr.value }))
    .then(console.log)
    .catch((err) => console.log(err.config));

    // ответ верный?
    this.currentTest.result = true;

    // @ts-ignore
    this.$parent.nextQuestion(this.currentTest);
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.select {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;

  .answer {
    display: inline-block;
    padding: 0.2rem;
    border-radius: 15px;
    border: 1px dashed $borderColor;
    cursor: pointer;
    user-select: none;

    transition: all $animationMiddleTime $animationFunction;

    &:hover {
      color: $bgColor;
      border-color: $bgColor;
      background-color: $borderColor;
      transition: all $animationShortTime $animationFunction;
    }
  }
}
</style>
