<template>
<div id="app">
  <router-view :key="$route.fillPath" />
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class App extends Vue {
  private async mounted() {
    this.$http.defaults.baseURL = 'http://51.158.179.130/api/';
    this.$http.defaults.headers['Content-Type'] = 'application/json';
    this.$http.defaults.headers.common.Authorization =
    `Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTcyNzI5Njg4LCJqdGkiOiI0MmE3MTllMDQzZDg0NTE1OGM4MGQ2NDdiYzMwMzBmYyIsInVzZXJfaWQiOjkxfQ.l8gUw4iSGwZSShz87PlPZHfaYu3CYWL7jhzG1XBSQo0`;

  }
}
</script>

<style lang="scss">
// @import url('https://fonts.googleapis.com/css?family=Amiri|Indie+Flower|Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha|Gabriela&display=swap');
@import '@/shared/common.scss';

html, body, #app {
  width: 100%;
  // min-height: 100vh;
  height: 100%;
  // overflow-x: hidden;
  background-color: $bgColor;
}


#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $borderColor;
  font: 16px 'Gabriela', serif;
}
</style>
