<template>
<section class="control-panel">
  <div class="nav-bar">{{ $user.username }}<div class="avatar" /></div>
  <aside class="sidebar">
    <div class="menu">
      <router-link class="item" :to="{ name: 'control-panel.subjects' }">
        <div class="caption">Предметы</div>
      </router-link>
      <router-link class="item" :to="{ name: 'control-panel.groups' }">
        <div class="caption">Классы</div>
      </router-link>
    </div>
  </aside>
  <div class="content"><router-view :key="$route.fillPath" /></div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class ControlPanel extends Vue {

}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.control-panel {
  display: grid;
  grid: auto 1fr / 200px 1fr;
  height: 100%;

  .nav-bar {
    grid-column: 1 / -1;
    padding: 1rem;
    text-align: right;
    display: grid;
    grid: 1fr / 1fr 24px;
    align-items: center;
    gap: 0.4rem;

    .avatar {
      background-image: url('https://pbs.twimg.com/media/CwcDkeTXAAk_nQf.png:large');
      width: 24px;
      height: 24px;
      background-position: center center;
      background-size: cover;
      display: inline-block;
    }
  }

  .content {
    padding: 1rem;
    box-shadow: inset 0 0 0.2rem $borderColor;
  }

  .sidebar {
    .menu {
      .item {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 1rem 0;
        border-right: 1px solid $guardian;
        cursor: pointer;
        transition: all $animationMiddleTime $animationFunction;

        .caption {
          transition: all $animationMiddleTime $animationFunction;
        }

        &.router-link-exact-active {
          border-right-color: $pink;
          color: $pink;
        }

        &:hover {
          transition: all $animationShortTime $animationFunction;
        }

        &:not(.router-link-exact-active) {
          &:hover {
            color: $pink;
            border-right: 1px solid $pink;
            .caption {
              transform: translateX(1rem);
            }
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
</style>
