<template>
<section class="empty">
  <router-view :key="$route.fillPath" />
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class Empty extends Vue {

}
</script>

<style lang="scss" scoped>
.empty {
  display: grid;
  grid: 1fr / 1fr;
  height: 100%;
}
</style>
