<template>
<section class="auth">
  <div class="form">
    <div class="block">
      <div class="item name">Логин</div>
      <input class="item input login" type="text" v-model="login" />
    </div>
    <div class="block">
      <div class="item name">Пароль</div>
      <input class="item input password" type="password" v-model="password" />
    </div>
    <div class="enjoy" v-if="!login.length">Пожалуйста, назовись</div>
    <div class="enjoy" v-else-if="!password.length">Открой мне свой секрет</div>
    <div class="enjoy" @click="auth" v-else>
      {{ message }}<template v-if="login.length">, {{ login }}</template>!</div>
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AxiosRequestConfig, AxiosResponse } from 'axios';
import { User, Role } from '@/shared/plugins/UserPlugin';

interface ITokens {
  refresh: string;
  access: string;
}

type IAuth = ITokens;
// interface IAuth extends ITokens {}

interface IRegistered {
  id: number;
  username: string;
  tokens: ITokens;
}

interface IUserType {
  user_id: number;
  user_type: string;
  related_id: number;
}

@Component({ components: {}})
export default class Auth extends Vue {
  private login = '';
  private password = '';
  private message = 'Добро пожаловать';

  private async auth() {
    this.$http.post<IAuth>('auth/token/', JSON.stringify({
      username: this.login,
      password: this.password,
    })).then(this.onAuth).catch(this.register);
  }

  private async register() {
    this.$http.post<IRegistered>('auth/registration/', JSON.stringify({
      username: this.login,
      password: this.password,
      group: 1,
    })).then(this.onRegister).catch(this.onNetworkError);
  }

  private async onAuth({ data: user }: AxiosResponse<IAuth>) {
    this.$user.refreshTokens = user.refresh;
    this.$user.username = this.login;

    this.setToken(user.access);
  }

  private async onRegister({ data: user }: AxiosResponse<IRegistered>) {
    this.$user.username = user.username;
    this.$user.refreshTokens = user.tokens.refresh;

    this.setToken(user.tokens.access);
  }

  private async setToken(accessToken: string) {
    this.$http.defaults.headers.common.Authorization =
      `Bearer ${accessToken}`;
      console.log(`token: ${accessToken}`);

      this.$http.get<IUserType>('auth/user-type/')
        .then(this.onUserTypeLoad)
        .catch(console.log);
  }

  private async onUserTypeLoad({ data: type }: AxiosResponse<IUserType>) {
    this.$user.id = type.user_id;
    console.log(type.user_type);

    if (type.user_type == 'student') {
      this.$user.role = Role.Student;

      this.$router.push({ name: 'tests' });
      return;
    }
    this.$router.push({ name: 'control-panel' });
  }

  private async onNetworkError(err: any) {
    this.message = 'Что-то не так';
    console.log(err);
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.auth {
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;

  .form {
    display: grid;
    grid: auto auto auto / 1fr;
    gap: 2rem;
    justify-items: center;
    border: 1px dashed $borderColor;
    border-radius: 7px;
    padding: 1rem;
    background-color: rgb(245, 245, 245);

    width: 400px;

    .block {
      width: inherit;
      .name {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border: 1px dashed $borderColor;
        width: 100%;
        background-color: $bgColor;

        display: grid;
        grid: 1fr / 1fr;
        justify-items: center;
        align-items: center;
        height: 34px;
        color: $borderColor;
      }

      .input {
        text-align: center;
        border: none;
        padding: 0;
        margin: 0;
        height: 34px;
        background: none;
        width: 100%;
        color: $borderColor;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-left: 1px dashed $borderColor;
        border-bottom: 1px dashed $borderColor;
        border-right: 1px dashed $borderColor;
        background-color: $bgColor;
        font-size: 18px;
      }
    }

    .enjoy {
      border: 1px dashed $borderColor;
      width: auto;
      color: $borderColor;
      border: 1px dashed $borderColor;
      border-radius: 7px;
      padding: 0.2rem 1rem;
      background-color: $bgColor;
      cursor: pointer;

      transition: all $animationMiddleTime $animationFunction;

      &:hover {
        color: $bgColor;
        border-color: $bgColor;
        background-color: $borderColor;
        transition: all $animationShortTime $animationFunction;
      }
    }
  }
}
</style>
