<template>
<div class="home">
  <router-link
    class="link"
    :to="{ name: 'test' }"
    v-text="'test'"
  /> •
  <router-link
    class="link"
    :to="{ name: 'tests' }"
    v-text="'Расписание'"
  /> •
  <router-link
    class="link"
    :to="{ name: 'user.auth' }"
    v-text="'auth'"
  /> •
  <router-link
    class="link"
    :to="{ name: 'control-panel' }"
    v-text="'control panel'"
  />
</div>
</template>

<script>

export default {
  name: 'home',
  components: {},
};
</script>
