<template>
<section class="reg">
  Register
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class Reg extends Vue {

}
</script>

<style lang="scss" scoped>
</style>
