<template>
<section class="tests">
  <div class="nav">
    {{ hello() }}, {{ $user.username }}
  </div>

  <div class="body">
    <div class="name">Расписание</div>

    <div class="table">
      <template v-for="(subject, subjectIndex) of subjectTests">
        <div class="subject" :key="`s-${subjectIndex}`" v-text="subject.subject"/>
        <div class="info" :key="`i-${subjectIndex}`">
          <template v-for="(topic, topicIndex) of subject.topics">
            <div class="topics" :key="`topic-${topicIndex}`" v-text="topic.name"/>
            <router-link
              class="launch"
              :to="{ name: 'test', query: { topicId: topic.id } }"
              :key="`launch-${topicIndex}`"
              v-text="'Пройти'"/>
            <div class="status" :key="`status-${topicIndex}`" v-text="'Статус'"/>
            <div class="separator" :key="`sep-inner-${topicIndex}`"></div>
          </template>
        </div>
        <div class="separator" :key="`sep-${subjectIndex}`"></div>
      </template>
    </div>
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AxiosResponse } from 'axios';

interface SubjectTests {
  id: number;
  subject: string;
  topics: Array<{
    id: number;
    name: string;
    status: number;
  }>;
}

interface ISubject {
  id: number;
  name: string;
}

interface ITopic {
  id: number;
  name: string;
  subjet: number;
}

type TopicLoad = Array<{
  subject: ISubject,
  response: AxiosResponse<ITopic[]>,
}>;

@Component({ components: {}})
export default class Tests extends Vue {
  private subjectTests: SubjectTests[] = [];

  private async created() {
    this.$http.get<ISubject[]>('subjects/')
      .then(this.onSubjectsLoad)
      .catch(console.log);
  }

  private async onSubjectsLoad({ data: subjects }: AxiosResponse<ISubject[]>) {
    Promise.all(subjects.map(async (subject) => {
      return {
        subject,
        response: await this.$http.get<ITopic[]>('topics/', {
          params: { subject: subject.id },
        }),
      };
    })).then(this.onTopicLoad);
  }

  private async onTopicLoad(
    datas: TopicLoad,
  ) {
    datas = datas.sort((a, b) => a.subject.id - b.subject.id);
    for (const data of datas) {
      this.subjectTests.push({
        id: data.subject.id,
        subject: data.subject.name,
        topics: data.response.data.map((topic) => ({
          name: topic.name,
          id: topic.id,
          status: 0,
        })),
      });
    }
  }

  private hello() {
    const date = new Date();
    const hours = date.getHours();

    if (hours >= 5 && hours <= 11) { return 'Доброе утро'; }
    else if (hours >= 12 && hours <= 17) { return 'Добрый день'; }
    else if (hours >= 17 && hours <= 23) { return 'Добрый вечер'; }
    return 'Доброй ночи';
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.tests {
  display: grid;
  grid: auto 1fr / 1fr;
  height: 100%;

  .nav {
    padding: 1rem;
    border-bottom: 1px dashed $borderColor;
    box-shadow: 0 0 0.2rem $borderColor;
  }

  .name {
    padding: 2rem 0;
    font-size: 2rem;
  }
  .table {
    align-self: start;
    display: grid;
    grid: 1fr / auto 1fr;
    gap: 1rem;
    align-content: start;
    align-items: start;
    padding: 0 2rem;
    text-align: left;

    .subject {
      display: grid;
      width: 100%;
      grid: 1fr / 1fr;
      justify-items: start;
      align-items: center;
      height: calc(100% - 1px);
    }

    .info {
      display: grid;
      grid: 1fr / 1fr auto auto;
      gap: 1rem;
      align-content: start;
      align-items: start;

      .launch {
        text-decoration: underline;
        text-decoration-style: dashed;
        font-style: italic;
        color: inherit;
        transition: all $animationMiddleTime $animationFunction;
        &:hover {
          color: $pink;
          transition: all $animationShortTime $animationFunction;
        }
      }
    }

    .separator {
      grid-column: 1 / -1;
      &:not(:last-child) {
        border-bottom: 1px dashed $borderColor;
      }
    }
  }
}
</style>
