<template>
<section class="test">
  <div class="nav">
    Назад, к
    <router-link
      class="link"
      :to="{ name: 'tests' }"
      v-text="'Расписанию'"
    />
  </div>

  <div class="body">
    <template v-if="null !== currentTest">
      <div class="text">{{ currentTest.text }}</div>

      <test-select
        class="question"
        :currentTest="currentTest"
        v-if="currentTest.type == 0"
      />
      <test-input
        class="question"
        :currentTest="currentTest"
        v-if="currentTest.type == 1"
      />

      <div class="roadmap">
        <div
          v-for="(test, index) of tests"
          :class="[
            'item',
            test.completed ? 'completed' : '',
            test.result ? 'true' : 'false'
          ]"
          :key="index"
          v-text="index + 1"
        />
      </div>
    </template>
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TestSelect from '@/components/Test/Select.vue';
import TestInput from '@/components/Test/Input.vue';
import { Test } from '@/shared/test';
import { AxiosResponse } from 'axios';

interface IQuestion {
  id: number;
  name: string;
  topic: number;
  question_text: string;
  elo: number;
}

interface IAnswer {
  id: number;
  question: number;
  answer_text: string;
}

@Component({ components: { TestSelect, TestInput }})
export default class Tests extends Vue {
  private tests: Test[] = [];
  private currentTest: Test | null = null;

  private async created() {
    this.$http.get<IQuestion[]>(`questions/`, {
      params: { topic: this.$route.query.topicId,
    }})
      .then(this.onQuestionsLoad)
      .catch(console.log);
  }

  private async onQuestionsLoad(
    { data: questions, config }: AxiosResponse<IQuestion[]>
  ) {
    const promises = questions
    .map(async (question) => {
      const{ data: answers } =
        await this.$http.get<IAnswer[]>('answers/', { params: {
          question: question.id,
        }});

      const test = {
        id: question.id,
        text: question.question_text,
        type: 0,
        completed: false,
        result: false,
        next: null,
        answers: answers.map((a) => ({ id: a.id, answer: a.answer_text })),
      };

      return test;
    });

    Promise.all(promises).then((responses) => {
      let prev: Test | null = null;
      for (const response of responses) {
        if (prev !== null) {
          prev.next = response;
        }
        prev = response;
      }
      this.tests = responses;
      this.currentTest = this.tests[0];
    });
  }

  private nextQuestion(test: Test) {
    test.completed = true;

    if (typeof test.next !== 'undefined' && test.next !== null) {
      this.currentTest = test.next;
    } else {
      // @ts-ignore
      this.$router.push({ name: 'test-complete', params: {
        tasks: this.tests.length
      } });
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.test {
  display: grid;
  grid: auto 1fr / 1fr;
  height: 100%;

  .nav {
    padding: 1rem;
    border-bottom: 1px dashed $borderColor;
    box-shadow: 0 0 0.2rem $borderColor;

    .link {
      text-decoration: underline;
      text-decoration-style: dashed;
      font-style: italic;
      color: inherit;

      &:hover {
        color: $pink;
        transition: all $animationShortTime $animationFunction;
      }
    }
  }

  .text {
    padding-top: 2rem;
    font: 2rem 'Neucha';
  }

  .question {
    padding: 2rem;

    font: 2rem 'Neucha';
    color: $borderColor;
  }

  .roadmap {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(30px, auto));
    justify-content: center;
    justify-items: center;
    font-size: 1rem;
    padding: 1rem;
    gap: 1rem;

    .item {
      border: 1px dashed $borderColor;
      width: min-content;
      padding: 0.1rem 0.8rem;
      border-radius: 15px;

      &.completed {
        color: $borderColor;
        background-color: $borderColor;
        // &.true {
        //   color: rgb(21, 255, 0);
        //   background-color: rgb(21, 255, 0);
        // }
        // &.false {
        //   color: rgb(255, 0, 34);
        //   background-color: rgb(255, 0, 34);
        // }
      }
    }
  }
}
</style>
