<template>
<section class="test-complete">
  <div class="block">
    <div>Ура!</div>
    <div>Ты прошел {{ tasks }} заданий.</div>
    <router-link class="link" :to="{ name: 'tests' }" v-text="'Перейти к расписанию'" />
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class TestComplete extends Vue {
  @Prop({ default: 0 })
  private tasks!: number;

  private rating = 69;
}
</script>

<style lang="scss" scoped>
@import '@/shared/common.scss';

.test-complete {
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  // min-height: 100%;
  .link {
    text-decoration: underline;
    text-decoration-style: dashed;
    font-style: italic;
    color: inherit;
    transition: all $animationMiddleTime $animationFunction;
    display: inline-block;
    padding: 0.4rem;
    &:hover {
      color: $pink;
      transition: all $animationShortTime $animationFunction;
    }
  }
}
</style>
