<template>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ components: {}})
export default class Topic extends Vue {

}
</script>

<style lang="scss" scoped>
</style>
